@page
@model WebDev2Model
@{
    ViewData["Title"] = "Web Development Course";
}

<style>
    h2{
        color: forestgreen;
    }

    h1{
        color: forestgreen;
        text-align: center;
    }
    .button{
        font-size: 16px;
        border: none;
        background-color: forestgreen;
        color: white;
        text-align: center;
        opacity: 0.5;
        transition: 0.3s;
    }
    .button:hover {
        opacity: 1;
        background-color: forestgreen;
    }
</style>

@*
  code to navigate back to the original course page!
*@
<button class="button" onClick="location.href='/Courses'" type="button">Back to Courses</button>

<h1>@ViewData["Title"]</h1>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WebDev">HTML IDE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WebDev1">Beginner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WebDev2">Intermediate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WebDev3">Advanced</a>
                        </li>
                    </ul>
                </div>
            </div>
</nav>

<h2>Intermediate project coming soon...</h2><br /><br />

@*
    implementing an html IDE from trinket.io
*@
<iframe src="https://trinket.io/embed/html/68bbbba610?runMode=run" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen>